body {
    font-family: 'Lato', sans-serif;
}

h1 h2 h3 h4 {
    /* font-weight: 40px; */
}

div.h3underline h3 {
    text-decoration: underline;

    /* border-bottom: solid 1px #000000;
    display: inline;
    padding-bottom: 2px; */
}

div#others p {
    font-size: 15px;
}

.row {
    background-color: rgb(238, 244, 247);
    /* margin-left: 0px;
    margin-right: 0px; */
}

#footer {
    padding-top: 40px;
    /* margin-top: 40px; */

}

p {
    font-weight: 20px;
    font-size: 20px;
}

/* div {
    outline: 1px solid orange;
} */

::selection {
    background-color: rgb(240, 243, 71);
}

.div-section {
    border: var(--border) solid var(--bg-color);
    /* padding: 10px; */
    /* background-color: #daeafa; */

    /* margin-right: 20px;
    margin-bottom: 20px; */
}

hr {
    margin-top: 0px;
    border-color: black;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
    img {
        max-width: 1150px;
        height: auto;
    }

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    img {
        max-width: 100%;
        height: auto;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    img {
        max-width: 100%;
        height: auto;
    }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    img {
        max-width: 100%;
        height: auto;
    }

    h1{
        font-size: 25px;
    }

    h3{
        font-size: 21px;
    }

    p {
        font-size: 15px;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    img {
        max-width: 100%;
        height: auto;
    }

    h1{
        font-size: 20px;
    }
    h3{
        font-size: 15px;
    }

    p {
        font-size: 11px;
    }
}